<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Add Actividad
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Actividad</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          method="post"
          #actividadForm="ngForm"
          (ngSubmit)="onActividadCreate(actividadForm.value)"
        >
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre Actividad</label>
            <input
              type="text"
              class="form-control"
              id="nameAct"
              name="nameAct"
              placeholder="Ingresa la actividad"
              ngModel
            />
            <label for="exampleInputEmail1">Tiempo Actividad</label>
            <input
              type="text"
              class="form-control"
              id="duracionAct"
              name="duracionAct"
              placeholder="Ingresa el tiempo de la Actividad"
              ngModel
            />
            <label for="exampleInputEmail1">Precio Actividad</label>
            <input
              type="number"
              class="form-control"
              id="precioAct"
              name="precioAct"
              placeholder="Ingresa el precio de la Actividad"
              ngModel
            />
            <p *ngIf="response">
              Se ha creado correctamente la actividad {{ response }}
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <input (click)="onActividadCreate(actividadForm.value)" type="button" class="btn btn-primary" value="Completar" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
